.App {
  font-family: Helvetica;
}

body {
  background-color: #000000;
  color: white;
}

.menu {
  display: flex;
  background: lightgreen;
  font-family: Helvetica;
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
}

li {
  display: block;
  color: black;
  text-align: center;
  padding: 5px 10px;
  line-height: 50px;
  height: 50px;
  text-decoration: none;
}

.login {
  margin-left: auto;
}

h1 {
  color: lightgreen;
}
